<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>
</head>
<body>
<h3>Product Info</h3>
<p><font color="green" th:text="${msg}"></font></p>

<form th:action="@{/product}" th:object="${p}" method="POST">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price: </td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Quantity: </td>
            <td><input type="text" th:field="*{qty}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>
</form>

<a th:href="@{/products}">View Products</a>
</body>
</html>